{% load i18n payments_tags staticfiles cms_tags sekizai_tags %}
{% load url from future %}

<!DOCTYPE html>

<html lang="en">

<head>

  <meta 
    charset="utf-8" 
  />

  <meta
    name="csrfmiddlewaretoken"
    content="{{ CSRF_TOKEN }}"
  />

  <meta
    name="stripe_key"
    content="{{ STRIPE_PUBLIC_KEY}}"
  />

  <meta
    name="viewport"
    content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes"
  />

  <title>
    {% block title %}
      {% page_attribute "page_title" %}
    {% endblock %}
  </title>

</head>

<body class="site-unity_live_com {% block body_class %}base-template {% endblock %}">

  <img
    src="{{ ASSETS_URL }}img-ui/10688338_2544634785061_6121468965386651321_o.jpg"
    alt="
      UNITY    : THE ARTIST EVENT
      Location : Avant Garden (formerly Helios)
                 411 Westheimber Rd. Houston, Texas
      Date     : September 26, 2014 - 5 p.m.-2 a.m.

      HEADLINERS:
      - Flcon Fcker
      - Banditos
      - Space Villains*

      UPSTAIRS PERFORMANCES:
      - Sid of Arc
      - Biz Vicous
      - Tipps
      - Lil' Trey / Detre
      - Demarcus Rashad

      DOWNSTAIRS PERFORMANCES:
      - Erin Corbitt
      - Kloanoa!
      - Run
      - Rain Flowa
      - 3mspliff
      - This Time I Brought Bombs'

      OUTSIDE: ART AUCTION AND POETRY
      - Forgotten Arts Clothing
      - Black Cassify
      - Anin Kciniram
      - Charli Fritz
      - Victoria Page
      - Patrick Morales
      - Nikki Nebula
      - Lado Clothing

      SPONSORS INCLUDE:
      - Gifted Innovations
      - Lado Clothing
      - Underground Mercer
      - Dasmyshit
      - Local Live Houston
    "
  />
</body>

</html>
